modules = ["python-3.11", "nodejs-20", "python3"]

[nix]
channel = "stable-25_05"
packages = ["bat"]

[deployment]
deploymentTarget = "autoscale"
run = ["streamlit", "run", "app.py", "--server.port", "5000"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Vue.js Frontend"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "FastAPI Backend"

[[workflows.workflow]]
name = "Vue.js Frontend"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node_modules/.bin/vite frontend --host 0.0.0.0 --port 5000"
waitForPort = 5000

[[workflows.workflow]]
name = "FastAPI Backend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m uvicorn backend:app --host 0.0.0.0 --port 8000 --reload --reload-exclude=\"node_modules/*\""
waitForPort = 8000

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000

[[ports]]
localPort = 37115
externalPort = 3003

[[ports]]
localPort = 41279
externalPort = 3001

[[ports]]
localPort = 42461
externalPort = 3000
